# Build
build/
build_linux/
build-pkg/
*.o
*.a
pdl_linux

# Packaging leftovers
packaging/pkg/
packaging/src/
packaging/*.pkg.tar.zst
packaging/pdl.ini
*.pkg.tar.zst

# IDE / editor
.vs/
*.swp
*~

# Local
*.local
